@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

}
/* desktop navigation bar starts */
nav.desktop-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
    
}
.nav-scrolled{
    background-color: #000000ad;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    z-index: 9;
}
#logo{
    /* width: 20%; */
}
#logo img{
    width: 170px;
}
#link-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 80px;
}
#link-wrapper li{
    list-style: none;
    
}
#link-wrapper li a{
    margin-left: 50px;
    font-size: 15px;
    text-decoration: none;
    color: #000000;

}
#signin-btn button{
    padding: 14px 30px;
    border: none;
    background-color: #FFDA32;
    border-radius: 5px;
    font-weight: 700;  
}
 nav.mobile-navigation{
    display: none;
 }
.destination-location{
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.destination-location .sort label{
    font-weight: bold;
    font-size: 16px;

}
.destination-location .sort select{
    padding: 10px 50px;
    border-radius: 5px;
    border: 2px solid rgba(244, 244, 245, 1);
    outline: none;
}
.innerLocation{
    background-color: rgba(249, 250, 253, 1) ;
    height: auto;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.innerLocation .formDivs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}
.innerLocation .availabilityDiv{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.availabilityDiv .availabilityText{
    border-bottom: 2px solid rgba(249, 250, 253, 1);
}
.availabilityDiv .availabilityText h3{
    font-size: bold;
    margin: 5px 0px;
    padding: 10px 30px;

}
.availabilityDiv .availabiltyForm{
    margin: 15px 0px;
    padding: 20px 30px;

    
}
.availabilityDiv .availabiltyForm input{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    outline: none;
    background-color: rgba(244, 244, 245, 1);
}
.availabilityDiv .availabiltyForm label{
    font-weight: 700;
}
.availabilityDiv .availabiltyForm button{
    background-color: #7BBCB0;
    padding: 10px 20px;
    width: 100%;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
    border-radius: 5px;

}
.themeDiv{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.themeDiv .themeText{
    border-bottom: 2px solid rgba(249, 250, 253, 1);

}
.themeDiv .themeText h3{
    font-size: bold;
    margin: 5px 0px;
    padding: 10px 30px;

}
.themeDiv .themeSelect{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.themeDiv .themeSelect input{
    margin-right: 5px;
}
.themeDiv .themeSelect label{
    font-size: 14px;
}
.themeDiv .themeSelect a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #7BBCB0;
    margin-bottom: 20px;
}

.durationDiv{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.durationDiv .durationText{
    border-bottom: 2px solid rgba(249, 250, 253, 1);

}
.durationDiv .durationText h3{
    font-size: bold;
    margin: 5px 0px;
    padding: 10px 30px;

}
.durationDiv .durationSelect{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.durationDiv .durationSelect input{
    margin-right: 5px;
}
.durationDiv .durationSelect label{
    font-size: 14px;
}

.destinationDiv{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.destinationDiv .destinationText{
    border-bottom: 2px solid rgba(249, 250, 253, 1);

}
.destinationDiv .destinationText h3{
    font-size: bold;
    margin: 5px 0px;
    padding: 10px 30px;

}
.destinationDiv .destinationSelect{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.destinationDiv .destinationSelect input{
    margin-right: 5px;
}
.destinationDiv .destinationSelect label{
    font-size: 14px;
}
.destinationDiv .destinationSelect a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #7BBCB0;
    margin-bottom: 20px;
}

.innerLocation #destinationContainer{
    width: 75%;
    
}

#destinationContainer .destinationCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    gap: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
}
#destinationContainer .destinationItem{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.activityFeatures{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;

}
.activityFeature{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    flex-direction: row;

}

 .signin{
display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  width: auto;
  z-index: 1000;
  

}
.signin .login-form{
    background-color: white;
    padding: 50px 50px;
    border-radius: 10px ;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    
}
.login-form .infoText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: #7BBCB0;
}
.login-form .infoText h1{
    color: #7BBCB0;
    margin: 15px 0px;
    font-size: 30px;
}
.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #495560;
}
#submit{
    background-color: #7BBCB0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-top: 10px;
}
button.google-signin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px 0px;
    border: 1px solid #495560;
    background-color: white;
    border-radius: 10px;

}
button.google-signin img{
    width: 16px;
}
button.facebook-signin{
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
     padding: 10px 0px;
    border: 1px solid #495560;
    background-color: white;
    border-radius: 10px;
}
button.facebook-signin img{
    width: 16px;
}
.redirect-login{
       display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
.redirect-login p{
    font-size: 14px;
}
.redirect-login a{
    text-decoration: none;
    color: #7BBCB0;
}
.blur {
  filter: blur(2px);
}

/* sign up form */
 .signup{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  z-index: 1000;
  width: auto;

}
.signup .register-form{
    background-color: white;
    padding: 50px 50px;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.register-form .infoText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items: center;
    gap: 30px;
    color: #7BBCB0;
}
.register-form .infoText i{
    font-size: 15px;
}
.register-form .infoText h1{
    color: #7BBCB0;
    margin: 15px 0px;
}
.register-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #495560;
}
#submit{
    background-color: #7BBCB0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-top: 10px;
}
button.google-signup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px 0px;
    border: 1px solid #495560;
    background-color: white;
    border-radius: 10px;

}
button.google-signup img{
    width: 16px;
}
button.facebook-signup{
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
     padding: 10px 0px;
    border: 1px solid #495560;
    background-color: white;
    border-radius: 10px;
}
button.facebook-signup img{
    width: 16px;
}
.redirect-signup{
       display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
.redirect-signup p{
    font-size: 14px;
}
.redirect-signup a{
    text-decoration: none;
    color: #7BBCB0;
}
 footer{
    background-color: #13253F;
    margin-top: 30px;
    
}
.footerDiv{
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
/* Main select styling */
.footerDiv .div1 select {
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  padding: 0px 15px;
  outline: none;
  border: 1px solid #495560;
  border-radius: 10px;
  margin-top: 10px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  color:#ffffff8c; /* White text */
  background-color: transparent;

  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
}

/* Style placeholder only (does not affect other options) */
.footerDiv .div1 select option:enabled {
  color: #000000; 
  background-color:white;
}

.footerDiv .div1 label{
    font-size: 16px;
    color: #ffffff8c;
    margin-bottom: 20px;
}
.footerDiv .div2 a, .div3 a, .div4 a{
    text-decoration: none;
    color: #ffffff8c;
    font-size: 14px;
}
.footerDiv .div2 h5, .div3 h5, .div4 h5{
   font-size: 16px;
   margin-bottom: 5px;
   color: #ffffff8c;
   
}
.footerDiv .div2, .div3{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    color: #ffffff8c;
    gap: 10px;
}
.footerDiv .div4 .payment_options {
    margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footerDiv .div4 .payment_options img {
  flex: 0 1 calc(20% - 10px);
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: 15px;
}
.copyright{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff8c;
    font-size: 13px;
}
.copyright .social_Icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

}
.copyright .social_Icons img{
    width: 30px;
}


/* 
 mobile device styling */
@media (min-width: 360px) and (max-width: 480px)  {

    body{
        overflow-x: hidden;
    }
    /* mobile navigation starts */
     nav.desktop-nav{
        display: none;
     }
     nav.mobile-navigation{
        display: flex;
        flex-direction: column;
        /* position: relative; */

     }
    .mobile-nav{
        /* position: relative; */
       width: 100%;
       display: flex;
       justify-content: space-between;
       flex-direction: row;
       position: fixed;
       background-color: transparent;
       padding: 20px 30px;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       z-index: 8;
    }
    .mobile-nav #hamburger{
        color: #ffffff;
        font-size: 20px;
    }
    .mobileList {
        
        background-color: white; 
        display: none;      
          
    }
    .mobileList.show{
        /* position: relative; */
        height: 100vh;
        width: 100%; 
        display: flex;
        flex-direction: column;
        list-style-type: none;
        transform: scaleX(100%);
        margin: 0px 30px 30px 0px;
        z-index: 2;
    }
     .mobileList li{
        margin-top: 40px;
        text-align: center;
        color: #000000;

        
     }
     .mobilenav_Link{
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        color: #000000;
        font-size: 15px;
     }
     #signin-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
     }
     #signin-btn button{
    padding: 14px 30px;
    border: none;
    background-color: #FFDA32;
    color: #000000;
    border-radius: 5px;
    font-weight: 800;
     }
}